* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: inherit;
}

a:visited {
  color: inherit;
  fill: inherit;
}

main {
  position: relative;
  display: flex;
  min-height: calc(100vh - 60px);
  background-color: var(--background);
}

.header {
  font-size: 3rem;
  line-height: 1;
}

.text {
  font-size: 1.5rem;
  line-height: 1;
}

#nprogress .bar {
  background: var(--text-contrast) !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--text-contrast), 0 0 5px var(--text-contrast) !important;
}
