* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: inherit;
}

a:visited {
  color: inherit;
  fill: inherit;
}

main {
  position: relative;
  display: flex;
  min-height: calc(100vh - 60px);
  background-color: var(--background);
}

.header,
.text {
  line-height: 1;
  cursor: default;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.header {
  font-size: 3rem;
}

.text {
  font-size: 1.5rem;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: var(--container);
  height: calc(80vh - 60px);
}

.tag {
  display: flex;
  line-height: 1;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  padding: 5px 10px;
  font-size: 1rem;
}

.tag i {
  font-size: 1rem;
  margin-right: 5px;
}

.tag.pet {
  background-color: lightgreen;
}

.tag.test {
  background-color: lightblue;
}

#nprogress .bar {
  background: var(--text-contrast) !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--text-contrast), 0 0 5px var(--text-contrast) !important;
}
